<div class="single-article">
    <div class="">

    </div>
    {% if banner_image %}
    <img src="{{ banner_image }}" alt="" class="img-responsive">
    {% endif %}

    {% if tabs %}
        {{ tabs }}
    {% endif %}

    <div>
        {% for key, type in article_type %}
            <li><a href="/taxonomy/term/{{ key }}">{{ type }}</a></li>
        {% endfor %}
    </div>
    <div>
        {{ title }}
    </div>
    <div>
        {{ body|striptags('<p>,<bold>,<strong>')|raw }}
    </div>
    <div>
        <ul>
            {% for key, tag in tags %}
                <li><a href="/taxonomy/term/{{ key }}">{{ tag }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

